# Qualia Investments

Data overview:<br>
- Data was collected on 2019-09-17<br>
- Dataset includes 124 upcoming events at Madison Square Garden<br>
- See field tm_offers for current availability on Ticketmaster. Each element of tm_offers is a set of seats that are available at a specific price point. See tm_offers.offers.places for the seats and section.<br>
- Field sh_listings.listing contains the current stubhub listings.<br>

In [2]:
# Importing Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Loading the dataset

data=pd.read_json("madison_square_garden_tm_sh_data-2019-09-17.json")

# Exploratory Analysis

## Extracting data from TM for first event

In [121]:
l=data['tm_offers'][0]

In [122]:
import itertools
# First Event, where is a particular event
df = pd.DataFrame(columns=['event','faceValue','listPrice','totalPrice','noChargesPrice','section','row','seat','row_count'])
keys=['faceValue','listPrice','totalPrice','noChargesPrice']
keys2=['section','row','seat','row_count']
c=0
venue=['One']
for i in l:
    pricing=[i['offer'][key] for key in keys]
    for p in i['places']:
        seating=[p[key] for key in keys2]
        s=itertools.chain(venue,pricing,seating)
        df.loc[c]=list(s)
        c+=1

In [123]:
df

,event,faceValue,listPrice,totalPrice,noChargesPrice,section,row,seat,row_count
0,One,119.00,119.00,141.00,113.00,101,11,17,18
1,One,119.00,119.00,141.00,113.00,101,11,18,18
2,One,119.00,119.00,141.00,113.00,101,12,18,19
3,One,119.00,119.00,141.00,113.00,101,12,19,19
4,One,119.00,119.00,141.00,113.00,101,8,5,16
5,One,119.00,119.00,141.00,113.00,101,8,6,16
6,One,119.00,119.00,141.00,113.00,101,8,7,16
7,One,119.00,119.00,141.00,113.00,101,8,8,16
8,One,119.00,119.00,141.00,113.00,101,8,9,16
9,One,119.00,119.00,141.00,113.00,101,8,10,16
10,One,119.00,119.00,141.00,113.00,101,8,11,16
11,One,119.00,119.00,141.00,113.00,101,8,12,16
12,One,119.00,119.00,141.00,113.00,101,9,13,17
13,One,119.00,119.00,141.00,113.00,101,9,14,17
14,One,119.00,119.00,141.00,113.00,101,9,15,17
15,One,79.00,79.00,100.00,73.00,101,17,3,18
16,One,79.00,79.00,100.00,73.00,101,17,4,18
17,One,79.00,79.00,100.00,73.00,101,17,7,18
18,One,79.00,79.00,100.00,73.00,101,17,8,18
19,One,79.00,79.00,100.00,73.00,101,13,10,20
20,One,79.00,79.00,100.00,73.00,101,13,7,20
21,One,79.00,79.00,100.00,73.00,101,13,8,20
22,One,79.00,79.00,100.00,73.00,101,13,9,20
23,One,79.00,79.00,100.00,73.00,101,14,13,20
24,One,79.00,79.00,100.00,73.00,101,14,14,20
25,One,79.00,79.00,100.00,73.00,101,14,15,20
26,One,79.00,79.00,100.00,73.00,101,14,16,20
27,One,79.00,79.00,100.00,73.00,101,16,13,22
28,One,79.00,79.00,100.00,73.00,101,16,14,22
29,One,79.00,79.00,100.00,73.00,101,16,5,22
...,...,...,...,...,...,...,...,...,...
2053,One,225.00,225.00,258.20,219.00,8,4,8,16
2054,One,225.00,225.00,258.20,219.00,8,5,7,14
2055,One,225.00,225.00,258.20,219.00,8,5,8,14
2056,One,648.25,648.25,705.55,514.25,8D,AA,13,18
2057,One,648.25,648.25,705.55,514.25,8D,AA,14,18
2058,One,648.25,648.25,705.55,514.25,8D,AA,15,18
2059,One,648.25,648.25,705.55,514.25,8D,AA,16,18
2060,One,225.00,225.00,258.20,219.00,9,1,11,11
2061,One,225.00,225.00,258.20,219.00,9,2,5,9
2062,One,225.00,225.00,258.20,219.00,9,3,5,7
2063,One,225.00,225.00,258.20,219.00,9,3,6,7
2064,One,225.00,225.00,258.20,219.00,9,3,7,7
2065,One,225.00,225.00,258.20,219.00,9,4,3,4
2066,One,225.00,225.00,258.20,219.00,9,4,4,4
2067,One,648.25,648.25,705.55,514.25,9D,AA,11,14
2068,One,648.25,648.25,705.55,514.25,9D,AA,12,14
2069,One,648.25,648.25,705.55,514.25,9D,AA,13,14
2070,One,648.25,648.25,705.55,514.25,9D,AA,14,14
2071,One,746.50,746.50,807.60,277.50,VIP1,AA,5,19
2072,One,746.50,746.50,807.60,277.50,VIP1,AA,6,19
2073,One,746.50,746.50,807.60,277.50,VIP2,AA,19,4
2074,One,746.50,746.50,807.60,277.50,VIP2,AA,20,4
2075,One,746.50,746.50,807.60,277.50,VIP4,AA,1,7
2076,One,746.50,746.50,807.60,277.50,VIP4,AA,2,7
2077,One,746.50,746.50,807.60,277.50,VIP4,AA,3,7
2078,One,746.50,746.50,807.60,277.50,VIP5,AA,3,4
2079,One,746.50,746.50,807.60,277.50,VIP5,AA,4,4
2080,One,746.50,746.50,807.60,277.50,VP12WC,AA,7,7
2081,One,746.50,746.50,807.60,277.50,VP12WC,AA,5,7
2082,One,746.50,746.50,807.60,277.50,VP12WC,AA,6,7